## Introduction to Pandas

#### **Name: Alexis Michell Hernandez Robledo** <insert name>

#### Import Libraries

In [4]:
import pandas as pd
import numpy as np

#### Create the dataset

In [5]:
data = {
    "Name": ["Alice", "Bob", np.nan, "David"],
    "Age": [25, np.nan, 30, 35],
    "Score": [85, 90, np.nan, 88],
}
df = pd.DataFrame(data)

#### Replace Age with mean

In [6]:
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Age"]

0    25.0
1    30.0
2    30.0
3    35.0
Name: Age, dtype: float64

#### Replace Score

In [7]:
df["Score"] = df["Score"].fillna(df["Score"].mean())
df["Score"]

0    85.000000
1    90.000000
2    87.666667
3    88.000000
Name: Score, dtype: float64

#### Rename Columns

In [9]:
df = df.rename(columns={"Name":"Student_Name", "score":"Exam_Score"})

#### Concatenate Dataframes

#### Grouping Data by Categories

In [10]:
data = {
    "Class": ["A", "B", "A", "B", "C", "C"],
    "Score": [85, 90, 88, 72, 95, 80],
    "Age": [15, 16, 15, 17, 16, 15],
}
df = pd.DataFrame(data)

In [11]:
df

  Class  Score  Age
0     A     85   15
1     B     90   16
2     A     88   15
3     B     72   17
4     C     95   16
5     C     80   15