## Introduction to Pandas

#### **Name: Alexis Michell Hernandez Robledo** <Insert Name>

#### Import Pandas

In [2]:
import pandas as pd

#### Creating Series

In [3]:
s = pd.Series([10,20,30], index=['a','b','c'])
s

a    10
b    20
c    30
dtype: int64

In [10]:
data = {"Name": ['Alice', 'George'], "Age" : [20 , 30]}

In [15]:
df = pd.DataFrame(data)
df

     Name  Age
0   Alice   20
1  George   30

#### Viewing Data

In [16]:
df.head()

     Name  Age
0   Alice   20
1  George   30

In [17]:
df.tail()

     Name  Age
0   Alice   20
1  George   30

#### Describe data

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes

In [19]:
df.describe()

             Age
count   2.000000
mean   25.000000
std     7.071068
min    20.000000
25%    22.500000
50%    25.000000
75%    27.500000
max    30.000000

#### Filtering Data

In [20]:
df["Age"]

0    20
1    30
Name: Age, dtype: int64

In [ ]:
df[]

#### Dataframe Indexing

In [21]:
df.iloc[0]

Name    Alice
Age        20
Name: 0, dtype: object

In [22]:
df.iloc[:,0]

0     Alice
1    George
Name: Name, dtype: object

In [23]:
df.loc[0]

Name    Alice
Age        20
Name: 0, dtype: object

#### Loading a Dataset
![image.png](iris_species.png)

In [24]:
df = pd.read_csv('iris.csv')

#### Exploring the dataset

In [25]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [27]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [28]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [29]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [30]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [36]:
#Count ocurrence of categorical variables
df[["sepal_lenght"]]

KeyError: "None of [Index(['sepal_lenght'], dtype='object')] are in the [columns]"

In [34]:
df[(df['sepal_length']>6.0) & (df['species'] == 'setosa')]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []